@CHARSET "UTF-8";

#wrapper {
	width: 960px;
	height: 810px;
	margin: 5px auto;
	border: 1px black dotted;
}

#top {
	float: left;
	width: 750px;
	margin: 5px auto;
	border: 1px black dotted;	
	
}

#content {
	float: left;
	width: 750px;
	margin: 5px auto;
	border: 1px black dotted;	
}

#foot {
	float: left;
	width: 750px;
	margin: 5px auto;
	border: 1px black dotted;	
}

#left {
	float: left;
	width: 200px;
	height: 806px;
	margin: 1px;
	border: 1px black dotted;	
}